.vending {
  display: flex;
  padding: 1em;
  gap: 15px;

  > :nth-child(1) {
    flex: 7;
  }

  > :nth-child(2) {
    flex: 3;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    > :nth-child(1) {
      flex: 7;
    }

    > :nth-child(2) {
      flex: 3;
    }
  }
}
