.panel {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 1em;

  .money_helper {
    font-size: 0.65rem;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;

    > * {
      flex-grow: 1;
    }
  }
}
